/**/

html,body {
  background: rgb(128, 189, 104);
  height: 100%;
}

.out {
  border: solid 1px black;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  height: 40%;
  background: rgb(216, 233, 193);
}

#btn {
  font-size: 2em;
}

#btn::after {
  content: "▶";
  color: red;
}
